@font-face {
	font-family: "grotesk-neue";
	src: url("../public/font/FK Trials/FK Grotesk Neue Trial/FKGroteskNeueTrial-Bold.otf");
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f3f3e8;
	color: #64645f;
	font-size: 16px;

	font-family: "grotesk-neue", ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica Neue, Arial, "Noto Sans",
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
}

.main-container {
	height: 100%;
	width: 100%;
	display: flex;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #5d1e58;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}